.register-container {
  max-width: 50rem; /* 500px */
  margin: 0 auto;
  /* height: 100vh; */
  padding: 2rem; /* 20px */
  border: 0.3rem solid #ddd; /* 3px */
  border-radius: 1rem; /* 10px */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); /* 10px */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #42484d;
}

.register-container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem; /* 30px */
  padding-bottom: 3rem; /* 30px */
}

.form-group {
  margin-bottom: 0;
  /* background-color: #fff; */
  padding: 0 5rem; /* 50px */
}

.form-group label {
  display: block;
  margin-bottom: 1rem; /* 10px */
  font-size: 2rem; /* 20px */
  /* border: 2px solid #4CAF50; */
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 1rem; /* 10px */
  margin-bottom: 1rem; /* 10px */
  border: 0.1rem solid #ccc; /* 1px */
  border-radius: 5rem; /* 50px */
}

.register-as-options {
  display: flex;
  /* align-items: center; */
}

.register-as-options input {
  /* margin-right: 0px; */
  background-color: #fff;
  border: none;
  /* border-radius: 50px; */
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 1rem 2rem; /* 10px 20px */
  border: none;
  border-radius: 0.5rem; /* 5px */
  cursor: pointer;
}

button {
  margin-left: 40%;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
