.chat_list_container {
    width: 100%;
    /* max-width: 400px; */
    background-color: var(--color-dark--1);
    border: 1px solid #ddd;
    /* border-radius: 8px; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .chat_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .chat_item:hover {
    background-color: var(--color-dark--2);
  }
  
  .chat_info {
    display: flex;
    flex-direction: column;
  }
  
  .chat_username {
    font-weight: bold;
    font-size: 16px;
  }
  
  .chat_last_message {
    font-size: 14px;
    color: #555;
    margin-top: 4px;
  }
  
  .chat_time {
    font-size: 12px;
    color: #888;
  }
  