.ProductCard {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  width: 40vw;
  background-color: var(--color-dark--1);
  gap: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0;
}

.productImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  & img {
    width: 20rem;
    height: 20rem;
  }
}

h3 {
  font-size: 2rem;
  margin-top: 1rem;
}

p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
